#board-stage {
  width:100%;
  height:70%;
  background: #000;
  margin-top:-5px;
}

#top-pit{
  width:100%;
  height:15%;
  background: #000;
}
#bot-pit{
  width:100%;
  height:15%;
  background: #000;
}

#chess{
  #project-controls{
    margin-left: 25px;
    margin-top: -15px;

    .btn-ctrl{
      &.disabled{
        cursor:not-allowed;
        color:grey;
        border-color:@primary-dark;
        &:hover{
          box-shadow: none;
          outline:none;
        }
      }
    }
  }
}
