html,body{
  height:100%;
}

.project{
  height: 100%;
}

canvas{
  .noselect();
}

& .display {
  position: relative;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  & .info-pane{
    padding: 25px 0 50px 0;
    position:absolute;
    margin-left:auto;
    width:100%;
    height: 100%;
    & .panel{
      overflow-y: auto;
    }
    & span.date{
      position: absolute;
      top: 20px;
      right:20px;
    }
    & p {
      text-align: justify;
    }
    & .equation{
      font-weight: bold;
      font-style: italic;
      padding: 20px 10px;
    }
  }
}

#project-{
  &container{
    background-color: #000000;
    background-image: url("../images/black-linen-2.png");
    /*background: url("../images/black-linen-2.png") center;*/
    height:100%;
    position:fixed;
    width:100%;
  }
  &presentation-container{
    background-color:rgba(0, 0, 0, .2);
    @shadow : 0 5px 30px -5px darken(@primary, 30%);
    .box-shadow(@shadow:@shadow);
    height:100%;
  }
  &content{
    min-height: 500px;
    height:100%;
    color:white;
    float:right;
  }
  &navigation{
    position:fixed;
    z-index: 1000;
    top:25px;
    left:50px;
    background: transparent;
    & .btn-ctrl{
      margin-left:0;
    }
    & #nav-toggle{

    }
    & #nav-menu{
      width: 200px;
      .btn-menu{
        transition-duration: 0.2s;
        opacity: 0;
        margin-top:25px;
        cursor:none;
        pointer-events: none;
        &.show{
          opacity: 1;
          cursor: pointer;
          pointer-events: auto;
        }
      }
    }
  }
  &controls{
    z-index: 100;
    position: absolute;
    top: 25px;
    left: 225px;
    width:100%;
    audio{
      height:32px;
    }
  }
}

.project-overlay{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: fade(@primary-dark, 85%);
  color:rgba(255,255,255,1);
  padding: 50px;
  position: absolute;
  max-width:50%;
  min-width: 300px;
  bottom: 100px;
  top:100px;
  left:0;
  right:0;
  margin:auto;
  overflow-y: auto;
  & .close-overlay{
    position:absolute;
    right:50px;
    top:50px;
    cursor: pointer;
    user-select: none;
  }
}

.btn-ctrl, .btn-ctrl:focus{
  transition-duration: .1s;
  margin-left: 25px;
  width: 100px;
  padding:5px 7px;
  background:@primary-dark;
  color:white;
  text-decoration: none;
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  .noselect();
  &:hover{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    box-shadow: 0 0 30px -5px #464646;
  }
  &.on, &.paused{
    text-decoration: none;
    color:white;
    border: 1px solid white;
    box-shadow: 0 0 30px -5px #464646;
  }
}
& .btn-menu{
  width: 150px !important;
}

#news{
  //background-color: #eee;
}

&.small-stage{
  position:absolute;
  right:250px;
  left: 250px;
  top:100px;
  bottom:100px;
  background: fade(@primary-dark, 85%);
  padding: 25px;
}


&.full-stage{
  position:absolute;
  left:250px;
  right:0;
  top:0;
  bottom:0;
  background: #eee;
  padding:25px;
}

#hours-chart,
#days-chart,
#months-chart{
  height:33%;
}

