#musicpath2{
  &.music-page{
    height:100%;
  }
  & .display{
    position:relative;
    overflow-y:auto;
    height:100%;
    width:100%;
  }
  & .source{
    position:absolute;
    z-index:10;
  }
}